                <div class="col-lg-4 offset-lg-4">
                    <blockquote class="mt-5">
                        By working with 42Maru we were able to turn our documented cases into an extensive repair manual that autopopulates periodically by extracting information from field reports. Our technicians are now better equipped
                    </blockquote>
                    <p class="text-right">- Hong, Gil-Dong <br><i>Middle East IT Manager </i><br> <a href="#">(Hyundai Robotics)</a></p>
                </div>
                <div class="col-12 pt-3">
                    <p class="text-center mb-3 mt-3">
                        <a href="#" class="btn btn-primary ">Success Stories</a>
                    </p>
                </div>