<!doctype html>
<html lang="en">

<head>
    <title>
        Page
    </title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../../../mysite/static/css/mysite.css">

    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
</head>

<body>
    <div class="container ">
        <div class="pure-g">
            <div class="pure-u-3-5">

                
            </div>

        </div>    
        <div class="pure-g">

            <div class="pure-u-5-5">

                <!-- Swiper -->
                <div class="swiper-container pb-5">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            
                              <div class="card">

                                <div class="flip-card">
                                    <div class="flip-card-inner">
                                      <div class="flip-card-front">
                                        <img src="../../../../../Dropbox (Personal)/Projects/Esteban/v3/albums.jpg"  class="pure-img "  alt="Avatar">
                                      </div>
                                      
                                      <div class="flip-card-back">
                                        <div class="overlay">
                                            <div class="overlay-text">
                                                
                                            </div><!-- overlay text -->
                                        </div><!-- overlay -->
                                        <img src="../../../../../Dropbox (Personal)/Projects/Esteban/v3/albums-2_1.jpg"  class="pure-img "  alt="Avatar">
                                        
                                      </div>
                                    </div><!-- flip card inner -->
                                    <a href="#" class="unsee stretched-link">View</a>
                                  </div><!-- flip card-->
                                  
                                <div class="card-body">
                                    <h3>
                                        42Maru
                                    </h3>
                                    <ul class="list-unstyled mb-0">
                                        <li>2020.01 - Now</li>
                                        <li><span class="badge badge-secondary">South Korea</span></li>
                                    </ul>   
                                </div><!-- card body -->
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to additional content. This content is a little bit longer.</p>     
                                
                            </div><!-- card-->       
                        </div><!-- slide -->
                        <div class="swiper-slide">
                            <div class="card border-0">
                                <div class="card-head">
                                    <img src="../../../../../Dropbox (Personal)/Projects/Esteban/v3/albums.jpg"  class="pure-img card-img-top" alt="..." />
                                    <img src="../../../../../Dropbox (Personal)/Projects/Esteban/v3/albums-1-2_1.jpg"  class="pure-img card-img-bottom"  alt="Avatar">
                                </div><!-- .card-head -->
                                <div class="card-body">
                                    <h3>
                                        42Maru
                                    </h3>
                                    <ul class="list-unstyled mb-0">
                                        <li>2020.01 - Now</li>
                                        <li><span class="badge badge-secondary">South Korea</span></li>
                                     </ul>   
                                </div><!-- card body -->
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to additional content. This content is a little bit longer.
                                </p>                                
                                <a href="#" class="unsee stretched-link">View</a>
                                </div><!-- card -->
                        </div><!-- slide -->
                         <div class="swiper-slide">
                            <div class="card border-0">
                                <img src="../../../../../Dropbox (Personal)/Projects/Esteban/v3/albums.jpg"  class="pure-img card-img-top" alt="..." />
                                <div class="card-body">
                                    <h3>
                                        42Maru
                                    </h3>
                                    <ul class="list-unstyled mb-0">
                                        <li>2020.01 - Now</li>
                                        <li><span class="badge badge-secondary">South Korea</span></li>
                                     </ul>   
                                </div><!-- card body -->
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to additional content. This content is a little bit longer.</p>                                
                            </div><!-- card -->
                        </div><!-- slide -->
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination mt-auto"></div>
                </div>
            </div>

        </div>
    </div><!-- container-->
   


</body>

<!-- Swiper JS -->
<script src="../package/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper('.swiper-container', {
        slidesPerView: 3,
        spaceBetween: 60,
        centeredSlides: true,
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },

        keyboard: {
            enabled: true,
            onlyInViewport: false,
        },

    });
</script>


</html>