<!doctype html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        Test page
    </title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/grids-responsive-min.css">
    <link rel="stylesheet" type="text/css" href="../../../mysite/static/css/mysite.css">
</head>

<body>
    <div class="container ">
        <div class="pure-g py-5">
        <div class="pure-u-1 pure-u-md-1-3 ">
            <div class="title-head">
                <h2>About Esteban</h2>
                <p>
                    A Business Administration Graduate from the Rey Juan Carlos University in Madrid, Spain.
                </p>

                <p>
                    Whose work focuses on <em>consistency between all brand messages</em> by unifying Strategy, Marketing and Sales through design.
                </p>

                <p>Find me in <a href="https://www.linkedin.com/in/estebantapia" class="pure-button" target="_blank">linkedin</a></p>
            </div><!-- title head -->
        </div><!-- col u -->

        <div class="pure-u-1 pure-u-md-2-3 banner">
            Life is hard
        </div><!-- col u -->
        </div><!-- col g -->
        <div class="pure-g py-5">
            <div class="pure-u-1 pure-u-md-1-5 ">
                <div class="title-head">
                    <h2>Skills</h2>
                    <p>Working in marketing, design and sales for +10 years.</p>
                </div><!-- title head -->
            </div><!-- col u -->
            <div class="pure-u-1 pure-u-md-4-5 pure-g">
                <div class="pure-u-md-1-2 pure-u-1">
                        <div class="card" id="marketing">                    
                            <div class="card-body">
                                <div class="card-title">
                                <h3>Marketing</h3>
                                </div>    
                                <p>
                                    Managed marketing teams and launched products in various countries.
                                </p>
                                
                                <ul>
                                    <li>Research, Planning, Strategy</li>
                                    <li>Demand generation</li>  
                                    <li>Branding, Positioning</li>    
                                    <li>Events, Promotion</li>
                                    <li>MS Office, Google Drive</li>
                                    <li>Database mining and analytics</li>
                                    <li>Online Marketing SEO/SEM/SMM</li>
                                    <li>ATL and BTL</li>
                                </ul>   
                            </div><!-- card body -->
                        </div><!-- card -->
                    </div><!-- col-->
                    <div class="pure-u-md-1-2 pure-u-1">
                        <div class="card" id="web">                    
                            <div class="card-body">
                                <div class="card-title">
                                    <h3>Web</h3>
                                </div>    
                                    <p>
                                        Knowledge of various CMS and ERP, proficient in front end design and programming for UI/UX. 
                                    </p>
                                <ul>
                                    <li>CSS, HTML, PHP, Python</li>
                                    <li>Bootstrap, Pure and other CSS frameworks</li>
                                    <li>Django, Odoo, Wordpress</li>
                                    <li>SEO, SEM, SMM, Analytics</li>
                                    <li>Use cases, wireframing, prototyping</li>    
                                    <li>Mailings, Landing pages</li>
                                    <li>Copywriting and Content Creation</li>
                                </ul>
                            </div><!-- end card body -->
                        </div><!-- end card-->
                    </div>
                    <div class="pure-u-md-1-2 pure-u-1">
                        <div class="card" id="design">
                            <div class="card-body">
                                <div class="card-title">
                                    <h3>Design</h3>
                                </div><!-- card title -->
                               <p>Expert in filling in what is needed, has worked as a graphic designer, photographer and brand design</p>
                                <ul>
                                    <li>Photography: Digital Photography, Lightning techniques, Adobe Photoshop, Adobe Lightroom</li>
                                    <li>Print: Adobe InDesign, Leaflets, Catalogues, Adobe Illustrator, Logo Design</li>
                                    <li>Media: Video capture, Adobe Premiere, Video Edition</li>
                               </ul>
                            </div><!-- card body -->
                        </div><!-- end card-->
                </div><!-- end col -->
                <div class="pure-u-md-1-2 pure-u-1">

                    <div class="card" id="others">
                        <div class="card-body">
                        <div class="card-title">
                            <h3>Others</h3>
                        </div>
                              <p>Experience dealing with customers, executives, boards and suppliers in both Spanish and English while working in various countries.</p> 
                                <ul>
                                    <li>Spanish - native</li>
                                    <li>English - bilingual</li>
                                    <li>Korea - 3A</li>
                                    <li>French - basic</li>
                                    <li>European A2 Driver License</li>
                                    <li>Korean Driver License</li>
                                </ul>
                            </div>
                    </div>

                </div>
            </div><!-- col u -->
        </div><!-- end row-->
        <div class="pure-g py-5">
            <div class="pure-u-1 pure-u-md-1-5 ">
                <div class="title-head">
                    <h2>Experience</h2>
                    <p>Applying my skillset to various companies in B2B and B2C industries</p>
                    
                </div>
            </div><!-- col u -->
            
            <div class="pure-u-md-4-5 pure-u-1 pure-g box-wrap">
                <div class="pure-u-sm-1-2 pure-u-4-5">
                    <div class="box">
                        <div class="box-head">
                            <div class="badge top date">2019.05 - 2019.11</div>
                            <img src="../../../../../Dropbox (Personal)/Projects/Esteban/v3/albums.jpg"  class="pure-img card-img-top" alt="..." />
                                <div class="slider">
                                    <img src="../../../../../Dropbox (Personal)/Projects/Esteban/v3/albums.jpg"  height="33px" alt="..." />
                                </div>
                        </div><!-- .card-head -->
                        <h3>
                            42Maru <small> (South Korea)</small>
                        </h3>                
                        <div class="box-text text-light">
                            <ul class="list-unstyled">
                                <li>Industry: IT and Software</li>
                            </ul>
                            <p>
                                This is a wider card with supporting text below as a natural
                                lead-in to additional content. This content is a little bit longer.
                            </p>    
                                                            
                        </div>
                        <a href="#" class=" stretched-link">View Case</a>
                    </div><!-- card -->
                </div><!--  col -->
                
                <div class="pure-u-sm-1-2 pure-u-4-5">
                    <div class="box">
                        <div class="box-head">
                            <div class="badge top date">2019.05 - 2019.11</div>
                            <img src="../../../../../Dropbox (Personal)/Projects/Esteban/v3/albums-3_1.jpg"  class="pure-img card-img-top" alt="..." />
                                <div class="slider">
                                    <img src="../../../../../Dropbox (Personal)/Projects/Esteban/v3/albums.jpg"  height="33px" alt="..." />
                                </div>
                        </div><!-- .card-head -->
                        <h3>
                            42Maru <small> (South Korea)</small>
                        </h3>                
                        <div class="box-text text-light">
                            <ul class="list-unstyled">
                                <li>Industry: IT and Software</li>
                            </ul>
                            <p>
                                This is a wider card with supporting text below as a natural
                                lead-in to additional content. This content is a little bit longer.
                            </p>    
                                                            
                        </div>
                        <a href="#" class=" stretched-link">View Case</a>
                    </div><!-- card -->
                </div><!--  col -->
                <div class="pure-u-sm-1-2 pure-u-4-5">
                    <div class="box">
                        <div class="box-head">
                            <div class="badge top date">2019.05 - 2019.11</div>
                            <img src="../../../../../Dropbox (Personal)/Projects/Esteban/v3/albums.jpg"  class="pure-img card-img-top" alt="..." />
                                <div class="slider">
                                    <img src="../../../../../Dropbox (Personal)/Projects/Esteban/v3/albums.jpg"  height="33px" alt="..." />
                                    <h3>
                                        42Maru <small> (South Korea)</small>
                                    </h3>                
                                </div>
                        </div><!-- .card-head -->
                        
                        <div class="box-text text-light">
                            <ul class="list-unstyled">
                                <li>Industry: IT and Software</li>
                            </ul>
                            <p>
                                This is a wider card with supporting text below as a natural
                                lead-in to additional content. This content is a little bit longer.
                            </p>    
                                <a href="#" class=" stretched-link">View Case</a>
                                                            
                        </div><!-- boxtext -->
                    </div><!-- box -->
                </div><!--  col -->
            </div><!-- pure u 5-->

        </div><!-- pure g-->
    </div><!-- container-->
    <div class="banner">
        <div class="container py-5 pure-g">
            <div class="pure-u-1-3">
                <h2>Get in touch</h2>
                <p>Let's talk.</p>
                <a href="mailto:e@estebantapia.com">e@estebantapia.com</a>
            </div>
            <div class="pure-u-1-3">
                <a href="https://es.linkedin.com/in/estebantapia" target="_blank" class="fa fa-linkedin-square" aria-hidden="true"></a>
                <p>estebantapia</p>
            </div>
        </div>
    </div>

</body>



</html>