
{% extends "base.html" %}
{% load static %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}

{% endblock extra_css %}

{% block content %}
{% include 'intro.html' %}
<div class="container">
    <div class="row">
        <div class="col-md-8 ">
                {{page.body|richtext}}
        </div><!-- col-md-8 -->
        <div class="col-md-4">
            
            {% with page.gallery_images.all as items   %}
               {% include 'streams/gallery.html' %}
            {% endwith %}
        </div><!-- col-md-4 -->
    </div>
</div>

{% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}
{# include 'home/welcome_page.html' #}
{% endblock content %}
