 {% load wagtailcore_tags wagtailimages_tags %}
    <div class="container">
        <div class="row pt-5 pb-4">
            
            {% if self.icon%}
            <div class="col-md-1 col-3 ml-2 p-0 ">
                <img src="{{self.icon.url}}" alt="{{self.title}} icon" class="img-fluid" />    
                {#enable if main_image used in title #}
                {# <img class="position-absolute" src="{{self.icon.url}}" />    #}
                {# {% image self.main_image class="img-fluid" fill-100x100 %} #}
            </div><!-- col -->
            {% endif %}

            <div class="{%if self.icon%}col-auto{%else%} col-md-12{%endif%}  ">
                
                {% if self.get_ancestors|length > 1 %}
                    <nav aria-label="breadcrumb">
                        <ul class="breadcrumb p-0">
                            {% for page in self.get_ancestors.in_menu.live %}
                                {#% if page.is_root == False %#}
                                    <li class="breadcrumb-item"><a href="{{ page.url }}">{{ page.title }}</a></li>
                                {#% endif %#}
                            {% endfor %}
                        </ul>
                        <h1>{{ self.title }}</h1>
                    </nav>
                {% endif %}
                {%if self.intro %}
                    <p class="intro mb-2">{{self.intro}}</p>
                {% endif %}
                <p>
                    {%if self.date_start%}<span class="badge  date">{{self.date_start|date:"M Y" }} {%if self.date_end%} - {{self.date_end|date:"M Y"}}{%endif%}</span>{%endif%}
                    {% if self.industry %}| {{self.industry}}{%endif%} {%if self.location %} | <em>{{self.location}}</em>{%endif%}                
                </p>
            </div><!-- col -->
  
        </div><!-- row --> 
    </div><!-- container -->