
body {
    font-family: 'Sanchez', serif;
    background-color: rgb(40,40,45);
    color: #ccc;
    font-size: large;
}

.banner {
    background: rgba(0, 0, 0, 0.3);
}

H1,H2,H3 {
    
    
}

a, a:focus {
  color: rgb(42, 170, 159);
}
a:HOVER, a:focus:HOVER {
  color: rgb(35, 153, 143);
  text-decoration: none;
}

.modal .close {
    z-index: 100;
    right: 0.3em;
    font-size: 4em;
    color: white;
}

.breadcrumb {
    background-color: transparent;
}

.btn {
    font-size: 90%;
    color: #ddd;
}


.btn.btn-primary {
    background-color: rgba(90, 90, 90, 0.8);
    border: 1px solid #333;
}

.btn.btn-secondary {
    background-color:rgba(42, 170, 159,0.8);
    border: 1px solid rgb(42, 170, 159);;
}

.btn.btn-primary:hover {
    background-color: rgba(80, 80, 80, 0.8);
    color: #eee;
    box-shadow: 0 1px 6px 3px rgba(130, 100, 100, 0.2);
}

.title-head {
    padding: 1em;
}

.badge {
    background:rgb(42, 170, 159);
    color: #fafafa;
    z-index: 200;
    padding: 3px 0.5em;
    font-size: 90%;
}

.badge.top {
    top:0.5em;
    margin-left: -10px;
    position: absolute;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    padding: 3px 1em;
}

em {
    color: #eee;
}

.box {
    position: relative;
    border-radius: 6px;
}

.box h3 {
    font-size: 1.2em;
}

.box .card-img-top {
    box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.3) !important;
    transition-duration: 300ms;
}

.box:hover .card-img-top {
    transform: translate(0,-0.3em);   
    z-index: 100;
}

.box .slider {
    transform: translate(0,-2.3em);
    z-index: -10;
    position: relative;
    transition-duration: 300ms;
}

.box:hover .slider {
    transform: translate(0,-0.3em);
}
.box .box-text {
    position: absolute;
    opacity: 0;
    top:-0.3em;
    padding: 2em 1em 1em;
    transition-duration: 300ms;
}

.text-light {
    color: #fafafa;
}

.overlay {
    background-color: rgba( 10,10,15,.7);
}


.card {
    font-size: 90%;
    border: 1px solid #666;
    padding: 0.3em 0.6em 0.9em;
    margin: 1em;
    color: #aaa;
    background-color: rgba(30,30,30,.8);
    border-radius: 3px;
    transition-duration: 300ms;
}

.card:hover {
    background-color: rgba(25,25,25,.8);
    color:#bbb;
}

.card-title {
    border-bottom: 1px solid #666;
}

.box:hover .box-text  {
    opacity: 1;
    background: rgba(25, 25, 20, 0.6);
}


/* 
.box-wrap {
    background-color: #fafafa;

}
  .box{  
    transition:.2s all; 
  }

  .box-wrap:hover .box  {
    filter:blur(1px);
    opacity:.8;
  }

  .box-wrap:hover .box:hover {
    transform:scale(1);
    filter:blur(0);
    opacity:1;
  }
  */



/* Row BG */


.row {
    background-position: center;
   
}

.bg_cover {
    background-size: cover;
    background-repeat: no-repeat;
}

.bg_fixed {
    background-attachment: fixed;
}